/* Font Raleway */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

/* Général */

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  align-content: center;
  width: auto;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: 700;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
  justify-content: stretch;
}

.flex {
  display: flex;
}

.price-text {
  font-weight: 600;
}

/* Header */

header {
  justify-content: space-between;
  margin-bottom: 35px;
}

#header-logo {
  margin-top: 25px;
  flex: 1;
}

/* Nav-bar */

nav li {
  padding-top: 40px;
}

nav li:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

nav a {
  padding: 40px 30px 0;
}

#sign-up {
  padding: 40px 30px 0;
  color: #0065fc;
  font-weight: 800;
}

#sign-up:hover {
  color: #000;
}

/* Search-bar */

.search {
  margin-bottom: 30px;
}

.search h2 {
  padding-left: 10px;
  margin-bottom: 10px;
}
.search p {
  margin: 10px 0 0 10px;
}

.search-bar {
  height: 50px;
  border: 2px solid #f2f2f2;
  padding: 0 0 0 15px;
  font-size: 1.1rem;
  font-weight: 600;
  width: 230px;
}

.search-bar::placeholder {
  color: #302f2f;
  font-size: 1.4rem;
}

.search-container {
  margin-bottom: 30px;
  height: 50px;
  padding: 15px 0 10px 10px;
}

.map-marker {
  border-radius: 15px 0 0 15px;
  width: 50px;
  flex-shrink: 0;
  background-color: #f2f2f2;
}

.map-marker i {
  margin: auto;
  font-size: 1.2rem;
  cursor: pointer;
}

.map-marker:hover {
  color: #0065fc;
}

.search-button {
  width: 130px;
  background-color: #0065fc;
  border: none;
  padding: 0;
  border-radius: 0 15px 15px 0;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}

.search-button:hover {
  opacity: 0.8;
}

.search-button i {
  display: none;
}

/* Filtres */

.filter-container {
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 30px;
}

.text-filter {
  align-self: center;
  padding-left: 10px;
}

.filter-content {
  flex-wrap: wrap;
}

.filter-list span {
  padding-left: 12px;
}

.filter-list {
  align-items: center;
  height: 46px;
  border-left: none;
  margin-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  border: 2px solid #f2f2f2;
}

.filter-list:hover {
  cursor: pointer;
  border-color: #0065fc;
  color: #0065fc;
}

.icon-filter {
  position: relative;
  right: 3px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #deebff;
}

.icon-filter i {
  margin: auto;
  color: #0065fc;
}

.info-container {
  padding-left: 10px;
  align-items: center;
}

.icon-info {
  height: 20px;
  width: 20px;
  border: 3px solid #f2f2f2;
  border-radius: 1rem;
  margin-right: 10px;
  cursor: pointer;
}

.icon-info i {
  margin: auto;
  font-size: 0.9rem;
  color: #0065fc;
}

/* Hébergements */

.main-container {
  display: flex;
  margin: 70px 0 50px;
}

.lodging-section,
.popular-section {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 15px;
}

.lodging-section h2 {
  margin: 0;
}

.lodging-section h2:hover {
  opacity: 0.7;
}

.lodging-section {
  width: 60%;
}

.lodging-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 30px;
  margin: 30px 0 50px;
  padding: 15px;
}

.lodging-content {
  display: grid;
  height: 220px;
  width: auto;
  grid-template-rows: 1fr 40%;
  box-sizing: border-box;
  border: 5px solid #f2f2f2;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 7px #afaeae;
}

.lodging-content:hover {
  box-shadow: 1px 1px 15px #0065fc;
  transition-duration: 0.4s;
}

.lodging-content img {
  width: 100%;
  height: 126px;
  object-fit: cover;
}

.lodging-info {
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 5px 10px;
}

.lodging-info p {
  margin: 0;
}

.hotel-rank {
  word-spacing: -1ch;
}

.fa-star {
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

.blueStar {
  color: #0065fc;
}

.greyStar {
  color: #776e6e60;
}

#show-more {
  font-weight: 700;
  font-size: 1.3rem;
}

#show-more:hover {
  color: #0065fc;
}

/* Populaires */

.fa-chart-line:hover {
  color: #0065fc;
}

.popular-section {
  position: relative;
  width: 30%;
  margin-left: 50px;
  padding: 15px 40px;
}

.popular-section h2:hover {
  opacity: 0.6;
}

.popular-icon {
  justify-content: space-between;
  align-items: baseline;
}

.popular-icon h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.popular-icon i {
  font-size: 1.5rem;
}

.popular-content {
  height: 170px;
  border: 5px solid #fff;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 7px #afaeae;
  box-sizing: border-box;
  overflow: hidden;
}

.popular-content:hover {
  box-shadow: 1px 1px 15px #0065fc;
  transition-duration: 0.4s;
}

.popular-content p {
  margin-top: 4px;
}

.popular-content img {
  width: 200px;
  height: 170px;
  object-fit: cover;
}

.popular-info {
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.ppopular-info .popular-name + p {
  margin-top: 8px;
  margin-bottom: 0;
}

/* Activités */

.activities-section {
  width: auto;
  margin: 100px 10px 0;
}

.activities-section h2 {
  padding-bottom: 25px;
}

.activities-section h2:hover {
  opacity: 0.7;
}

.activities-container {
  display: grid;
  width: 100%;
  grid-template: repeat(12, 1fr) / repeat(4, 1fr);
  gap: 36px;
  height: 550px;
  grid-auto-flow: column;
  justify-content: center;
}

.row12 {
  grid-row-end: span 13;
}

.row6 {
  grid-row-end: span 7;
}

.row5 {
  grid-row-end: span 6;
}

.activities-content {
  display: grid;
  grid-template-rows: 1fr 50px;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 7px #c1c1c1;
  background-color: #f2f2f2;
}

.activities-content:hover {
  box-shadow: 1px 1px 15px #0065fc;
  transition-duration: 0.4s;
}

.activities-content img {
  width: 100%;
  object-fit: cover;
}

#activities-img-01 {
  height: 503px;
}
#activities-img-02 {
  height: 237px;
}
#activities-img-03 {
  height: 182px;
}
#activities-img-04 {
  height: 504px;
}
#activities-img-05 {
  height: 192px;
}
#activities-img-06 {
  height: 229px;
}

.activities-title {
  align-self: center;
  background-color: #fff;
  padding: 0 0 10px 16px;
  font-size: 1.1rem;
  font-weight: 700;
}

/* Footer */

footer {
  display: flex;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  padding-left: 10px;
}
.footer-content {
  width: 300px;
}

.footer-content h3:hover {
  opacity: 0.7;
}

.footer-content li:hover {
  font-weight: bold;
}

.footer-content h3 {
  padding-bottom: 25px;
}

.footer-content li {
  padding-bottom: 10px;
}

/* Media queries */

@media screen and (max-width: 1114px) {
  .main-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .lodging-section {
    flex: 1.5;
    width: auto;
  }

  .popular-section {
    display: block;
    width: auto;
    padding: 26px;
    margin: 0;
  }
  .activities-section,
  footer {
    margin-top: 35px;
  }
}

@media screen and (max-width: 1050px) {
  .text-filter {
    padding-bottom: 10px;
  }

  .filter-content {
    gap: 15px;
  }
}

@media screen and (max-width: 955px) {
  .lodging-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .activities-container {
    grid-template: repeat(6, 1fr) / 1fr;
    grid-auto-flow: initial;
    gap: 10px;
    height: auto;
  }

  .activities-content {
    height: 190px;
    margin: 10px 27px;
  }

  #activities-img-01 {
    height: 184px;
  }
  #activities-img-02 {
    height: 185px;
  }
  #activities-img-03 {
    height: 188px;
  }
  #activities-img-04 {
    height: 187px;
  }
  #activities-img-05 {
    height: 192px;
  }
  #activities-img-06 {
    height: 188px;
  }

  .activities-title {
    height: 90px;
  }

  .footer-container {
    flex-direction: column;
    width: auto;
    padding-left: 50px;
  }

  .footer-content {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 555px) {
  header {
    flex-direction: column;
  }

  .nav-bar {
    order: 3;
  }

  .nav-bar ul {
    width: 100%;
  }

  .nav-bar li {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 3px solid #f2f2f2;
  }

  #sign-up {
    align-self: flex-end;
    padding: 0;
    margin-right: 20px;
    position: relative;
    bottom: 30px;
  }

  nav li:hover {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    border-top: none;
  }

  .search-bar {
    flex: 1;
  }
  .search-button i {
    display: inline-block;
  }
  .search-button span {
    display: none;
  }
  .search-button {
    position: relative;
    width: 50px;
    border-radius: 15px;
    left: -20px;
  }
}
